<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497297376978-e74el8oq9s9ffks801r8sseh8thq1fri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497297376978-e74el8oq9s9ffks801r8sseh8thq1fri</string>
	<key>API_KEY</key>
	<string>AIzaSyBEabEWTRhaax-7n2WL4ydagBa7MLUQuFk</string>
	<key>GCM_SENDER_ID</key>
	<string>497297376978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthLive</string>
	<key>PROJECT_ID</key>
	<string>firebase-auth-live</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-auth-live.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497297376978:ios:1cd968c12d1fd70e1c4f0b</string>
</dict>
</plist>